.vagrant/

scripts/go-recipes/cookbooks/java/

scripts/go-recipes/cookbooks/git/
scripts/go-recipes/cookbooks/mercurial/
scripts/go-recipes/cookbooks/subversion/

scripts/go-recipes/cookbooks/ruby-cookbook/
scripts/go-recipes/cookbooks/chef-recipe-rake/
scripts/go-recipes/cookbooks/opscode-chef-cookbook-sass/
scripts/go-recipes/cookbooks/chef-zip/

.DS_Store
